#footer {
  background: gray;
  color: white;
  display: flex;
  justify-content: center;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

#carat {
  font-size: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: -10px;
}

#footer-inner {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  padding: 5px;
}
#footer-logo {
  height: 100%;
  font-size: 50px;
}

#footer a :hover {
  color: #24828E;
}

#caption p {
  color: white;
  font-size: 15px;
  margin-bottom: 0 !important;
}
